@import "tailwindcss";

html,:host {
  font-family: calibre,calibre-fallback,ui-sans-serif,system-ui,sans-serif,"Apple Color Emoji","Segoe UI Emoji",Segoe UI Symbol,"Noto Color Emoji";
  font-size: 18px;
}

body {
  overflow: hidden;
  
}

#root {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  color: white;
}