@import "tailwindcss";

@theme {
  --color-mercedes-bg-theme: oklch(80% 0.15 180);
  --color-mclaren-bg-theme: oklch(75% 0.18 50);
  --color-ferrari-bg-theme: oklch(63.7% 0.237 25.331);
}

html,:host {
  font-family: calibre,calibre-fallback,ui-sans-serif,system-ui,sans-serif,"Apple Color Emoji","Segoe UI Emoji",Segoe UI Symbol,"Noto Color Emoji";
  font-size: 18px;
}

body {
  overflow: hidden;
}



#root {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  color: white;
}